<!-- Toolbar -->
<div *ngIf="gameSettingUp; else gameContainer">
  Szerokość: <input type="number" min="0" max="100" [value]="width" #setupWidth>
  Wysokość: <input type="number" min="0" max="100" [value]="height" #setupHeight>
  Max liczba punktów: <input type="number" min="0" max="100" [value]="maxScore" #setupScore>
  <button (click)="startGame(setupWidth.value, setupHeight.value, setupScore.value)">OK</button>
</div>

<ng-template #gameContainer>
  <div id="gameContainer">
    <div id="left">
      <p>{{title}}</p>

      <p>Wynik gracza: {{userScore}}/{{maxScore}}</p>
      <p>Wynik komputera: {{cpuScore}}/{{maxScore}}</p>
    </div>
    <div id="right">
      <div id="board">
        <div class="row" *ngFor="let row of board; index as i">
          <div class="cell" [class.markedBlue]="cell.usedInLine && cell.content === 'O'"
            [class.markedRed]="cell.usedInLine && cell.content === 'X'" (click)="handleClick(i, j)"
            *ngFor="let cell of row; index as j">{{cell.content}}</div>
        </div>
      </div>
      <p [class.hidden]="gameEnded">{{gameEndedMessage}}</p>
    </div>
  </div>
</ng-template>